@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

/*container rond alles*/
body { 
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    height: auto;
    display: flex;
}


/*GRUNT KAART*/

.container-grunt { /*eerste kaart*/
    background-color: white;
    max-width: 25%;
    height: auto;
    padding-left: 15px;
}

.resize-grunt { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 30%;
    height: auto;
    display: block;
}

.container-grunt h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
}

.container-grunt p { /*styling paragraph*/
    height: auto;
    text-align: justify;
    color: rgba(31, 31, 31, 0.842);
}

/*GULP KAART*/

.container-gulp { /*eerste kaart*/
    background-color: white;
    max-width: 25%;
    height: auto;
    padding-left: 15px;
}

.resize-gulp { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 20%;
    height: auto;
    display: block;
}

.container-gulp h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
}

.container-gulp p { /*styling paragraph*/
    height: auto;
    text-align: justify;
    color: rgba(31, 31, 31, 0.842);
}

/*GIT HOOKS KAART*/

.container-githooks { /*eerste kaart*/
    background-color: white;
    max-width: 25%;
    height: auto;
    padding-left: 15px;
}

.resize-githooks { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 30%;
    height: auto;
    display: block;
}

.container-githooks h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
}

.container-githooks p { /*styling paragraph*/
    height: auto;
    text-align: justify;
    color: rgba(31, 31, 31, 0.842);
}

/*NPM RUN KAART*/

.container-npm { /*eerste kaart*/
    background-color: white;
    max-width: 25%;
    height: auto;
    padding-left: 15px;
}

.resize-npm { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 30%;
    height: auto;
}

.container-npm h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
}

.container-npm p { /*styling paragraph*/
    height: auto;
    text-align: justify;
    color: rgba(31, 31, 31, 0.842);
}
