@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


body { 
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    height: auto;
    background-color: pink;
}

/*container rond alles*/
.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 100%;
    border-style: solid;
}
.grunt, .gulp, .githooks, .npm {
    border-style: solid;
}

/*OPMAAK GENERAL*/

img {
    padding: 50px; /*verplaatst ALLE img naar rechterkant*/
}

/*GRUNT KAART*/

.container-grunt { /*eerste kaart*/
    background-color: white;
    max-width: 100%;
    height: auto;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.resize-grunt { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 100%;
    height: auto;
    width: 220px;
}

.container-grunt h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
    padding: 30px;
    top: 330px;
}

.container-grunt p { /*styling paragraph*/
    height: auto;
    text-align: justify;
    color: rgba(31, 31, 31, 0.842);
    padding: 30px; /* verschuift 30px naar rechts (door rand) */
}

/*GULP KAART*/

.container-gulp { /*eerste kaart*/
    background-color: white;
    max-width: 100%;
    height: auto;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.resize-gulp { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 100%;
    height: auto;
    width: 110px;
}

.container-gulp h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
}

.container-gulp p { /*styling paragraph*/
    height: auto;
    color: rgba(31, 31, 31, 0.842);
    padding: 58px 0;
}

/*GIT HOOKS KAART*/

.container-githooks { /*eerste kaart*/
    padding-left: 15px;
    background-color: white;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.resize-githooks { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 100%;
    height: auto;
    width: 250px;
}

.container-githooks h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
}

.container-githooks p { /*styling paragraph*/
    height: auto;
    color: rgba(31, 31, 31, 0.842);
    padding: 50px 0px;
}

/*NPM RUN KAART*/

.container-npm { /*eerste kaart*/
    padding-left: 15px;
    background-color: white;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.resize-npm { /*afbeelding verkleinen, best klein in voorbeeld ! */
    max-width: 100%;
    height: auto;
    width: 200px;
}

.container-npm h1 { /*styling header*/
    color: rgba(44, 173, 44, 0.815);
    font-weight: normal;
}

.container-npm p { /*styling paragraph*/
    color: rgba(31, 31, 31, 0.842);
}
